/* Import our custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Slab:wght@100..900&display=swap');

h1 {
    font-family: 'Roboto Slab Black', sans-serif;
}

h2 {
    font-family: 'Roboto Slab SemiBold', sans-serif;
}

h5 {
    font-family: 'Roboto Slab', sans-serif;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}

#navbarSupportedContent {
    font-size: 1.2rem;
}

footer {
    font-size: 0.8rem;
}

#note {
    font-size: 0.8rem;
}

#pfp {
    display: block;
    margin: auto;
}